<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app" >
			<p v-if="sure"> 
				如果是true则可以显示
			</p>
			<ul>
				<li v-for="item in list">
					{{item}}
				</li>
			</ul>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el:'#app',
				data(){
					return{
						message:"hello Vue",
						title:"你好啊",
						sure:true,
						list:[
						"item A",
						"item B",
						"item C",
						]
					}
				}
			})
		</script>
	</body>
</html>
