<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="vue.js" ></script>
	</head>
	<body>
		<div id="app">

		<input type="text" v-model="firstname"/> +
		<input type="text" v-model="lastname" /> =
		<input type="text" v-model="fullname"/>
		</div>
		
		<script>
	      var app =new Vue({
	      el:'#app',
	      data:{
	      	firstname:'',
		   lastname:'',
		   fullname:''
	        },
	         methods:{

	         },
	         //使用这个属性，可以监视data中指定数据的变化，然后触发这个watch中对应的function处理函数
	         watch:{
	         	//这里面的函数有两个参数newVal和oldVal
	         	'firstname':function(){
	         		this.fullname = this.firstname+'-'+this.lastname
	         	},
	         		'lastname':function(){
	         		this.fullname = this.firstname+'-'+this.lastname
	         	},
	         }
	         
          });
		</script>
	</body>
</html>
