<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="vue.js" ></script>
	</head>
	<body>
		<div id="app">
		<input type="text" v-model="firstname" /> +
		<input type="text" v-model="middlename" /> +
		<input type="text" v-model="lastname" /> =
		<input type="text" v-model="fullname"/>
		<p>{{fullname}}</p>
		</div>
		
		<script>
	      var app =new Vue({
	      el:'#app',
	      data:{
	      	firstname:'',
		   lastname:'',
		   middlename:''

	        },
	         methods:{
	         	
	         },
	         //在computed中，可以定义一些属性，叫做计算属性,计算属性的本质就是方法，只不过在使用时把他们的名称直接当属性来用，并不会当成方法调用
	         //注意计算属性在引用一定不要加小括号，当成普通属性使用就好了
	         //只要计算属性function里面所用到的任何data中的数据发生了变化，就会重新计算这个计算属性的值
	         //计算属性的求值结果，会被缓存起来，方便下次使用；如果里面任何数据都没有变化，则不会重新计算计算属性
	         computed:{
	         	'fullname':function(){
	         		return this.firstname+'-----'+this.middlename+'----'+this.lastname
	         	}
	         }
	         
          });
		</script>
	</body>
</html>
